Legato.ServiceDAL/Service References/Legato.Middleware.LegatoMiddleware/LegatoMiddleware.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LegatoMiddleware" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59435/LegatoMiddleware.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59435/LegatoMiddleware.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59435/LegatoMiddleware.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Legato.MiddlewareContracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILegatoMiddleware_GetAllGuitars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGuitars" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllGuitars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGuitarsResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetGuitarsByPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGuitarsByPrice" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetGuitarsByPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGuitarsByPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAcousticClassicalGuitarsByPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcousticClassicalGuitarsByPrice" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAcousticClassicalGuitarsByPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcousticClassicalGuitarsByPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAcousticWesternGuitarsByPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcousticWesternGuitarsByPrice" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAcousticWesternGuitarsByPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcousticWesternGuitarsByPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetBassGuitarsByPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBassGuitarsByPrice" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetBassGuitarsByPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBassGuitarsByPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetElectroGuitarsByPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectroGuitarsByPrice" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetElectroGuitarsByPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectroGuitarsByPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllAcousticClassicalGuitars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAcousticClassicalGuitars" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllAcousticClassicalGuitars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAcousticClassicalGuitarsResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllAcousticWesternGuitars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAcousticWesternGuitars" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllAcousticWesternGuitars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAcousticWesternGuitarsResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllElectroGuitars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllElectroGuitars" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllElectroGuitars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllElectroGuitarsResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllBassGuitars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBassGuitars" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAllBassGuitars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBassGuitarsResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetGuitarsByVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGuitarsByVendor" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetGuitarsByVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGuitarsByVendorResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAcousticClassicalGuitarsByVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcousticClassicalGuitarsByVendor" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAcousticClassicalGuitarsByVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcousticClassicalGuitarsByVendorResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAcousticWesternGuitarsByVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcousticWesternGuitarsByVendor" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetAcousticWesternGuitarsByVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcousticWesternGuitarsByVendorResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetElectroGuitarsByVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectroGuitarsByVendor" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetElectroGuitarsByVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectroGuitarsByVendorResponse" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetBassGuitarsByVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBassGuitarsByVendor" />
  </wsdl:message>
  <wsdl:message name="ILegatoMiddleware_GetBassGuitarsByVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBassGuitarsByVendorResponse" />
  </wsdl:message>
  <wsdl:portType name="ILegatoMiddleware">
    <wsdl:operation name="GetAllGuitars">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllGuitars" message="tns:ILegatoMiddleware_GetAllGuitars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllGuitarsResponse" message="tns:ILegatoMiddleware_GetAllGuitars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGuitarsByPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetGuitarsByPrice" message="tns:ILegatoMiddleware_GetGuitarsByPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetGuitarsByPriceResponse" message="tns:ILegatoMiddleware_GetGuitarsByPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcousticClassicalGuitarsByPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAcousticClassicalGuitarsByPrice" message="tns:ILegatoMiddleware_GetAcousticClassicalGuitarsByPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAcousticClassicalGuitarsByPriceResponse" message="tns:ILegatoMiddleware_GetAcousticClassicalGuitarsByPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcousticWesternGuitarsByPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAcousticWesternGuitarsByPrice" message="tns:ILegatoMiddleware_GetAcousticWesternGuitarsByPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAcousticWesternGuitarsByPriceResponse" message="tns:ILegatoMiddleware_GetAcousticWesternGuitarsByPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBassGuitarsByPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetBassGuitarsByPrice" message="tns:ILegatoMiddleware_GetBassGuitarsByPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetBassGuitarsByPriceResponse" message="tns:ILegatoMiddleware_GetBassGuitarsByPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElectroGuitarsByPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetElectroGuitarsByPrice" message="tns:ILegatoMiddleware_GetElectroGuitarsByPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetElectroGuitarsByPriceResponse" message="tns:ILegatoMiddleware_GetElectroGuitarsByPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAcousticClassicalGuitars">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllAcousticClassicalGuitars" message="tns:ILegatoMiddleware_GetAllAcousticClassicalGuitars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllAcousticClassicalGuitarsResponse" message="tns:ILegatoMiddleware_GetAllAcousticClassicalGuitars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAcousticWesternGuitars">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllAcousticWesternGuitars" message="tns:ILegatoMiddleware_GetAllAcousticWesternGuitars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllAcousticWesternGuitarsResponse" message="tns:ILegatoMiddleware_GetAllAcousticWesternGuitars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllElectroGuitars">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllElectroGuitars" message="tns:ILegatoMiddleware_GetAllElectroGuitars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllElectroGuitarsResponse" message="tns:ILegatoMiddleware_GetAllElectroGuitars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBassGuitars">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllBassGuitars" message="tns:ILegatoMiddleware_GetAllBassGuitars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAllBassGuitarsResponse" message="tns:ILegatoMiddleware_GetAllBassGuitars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGuitarsByVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetGuitarsByVendor" message="tns:ILegatoMiddleware_GetGuitarsByVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetGuitarsByVendorResponse" message="tns:ILegatoMiddleware_GetGuitarsByVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcousticClassicalGuitarsByVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAcousticClassicalGuitarsByVendor" message="tns:ILegatoMiddleware_GetAcousticClassicalGuitarsByVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAcousticClassicalGuitarsByVendorResponse" message="tns:ILegatoMiddleware_GetAcousticClassicalGuitarsByVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcousticWesternGuitarsByVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAcousticWesternGuitarsByVendor" message="tns:ILegatoMiddleware_GetAcousticWesternGuitarsByVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetAcousticWesternGuitarsByVendorResponse" message="tns:ILegatoMiddleware_GetAcousticWesternGuitarsByVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElectroGuitarsByVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetElectroGuitarsByVendor" message="tns:ILegatoMiddleware_GetElectroGuitarsByVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetElectroGuitarsByVendorResponse" message="tns:ILegatoMiddleware_GetElectroGuitarsByVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBassGuitarsByVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetBassGuitarsByVendor" message="tns:ILegatoMiddleware_GetBassGuitarsByVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegatoMiddleware/GetBassGuitarsByVendorResponse" message="tns:ILegatoMiddleware_GetBassGuitarsByVendor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILegatoMiddleware" type="tns:ILegatoMiddleware">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGuitars">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAllGuitars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGuitarsByPrice">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetGuitarsByPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcousticClassicalGuitarsByPrice">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAcousticClassicalGuitarsByPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcousticWesternGuitarsByPrice">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAcousticWesternGuitarsByPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBassGuitarsByPrice">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetBassGuitarsByPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElectroGuitarsByPrice">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetElectroGuitarsByPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAcousticClassicalGuitars">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAllAcousticClassicalGuitars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAcousticWesternGuitars">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAllAcousticWesternGuitars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllElectroGuitars">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAllElectroGuitars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBassGuitars">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAllBassGuitars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGuitarsByVendor">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetGuitarsByVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcousticClassicalGuitarsByVendor">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAcousticClassicalGuitarsByVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcousticWesternGuitarsByVendor">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetAcousticWesternGuitarsByVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElectroGuitarsByVendor">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetElectroGuitarsByVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBassGuitarsByVendor">
      <soap:operation soapAction="http://tempuri.org/ILegatoMiddleware/GetBassGuitarsByVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LegatoMiddleware">
    <wsdl:port name="BasicHttpBinding_ILegatoMiddleware" binding="tns:BasicHttpBinding_ILegatoMiddleware">
      <soap:address location="http://localhost:59435/LegatoMiddleware.svc/Summator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>