Legato.ServiceDAL/Service References/Middleware/Legato.MiddlewareContracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Legato.MiddlewareContracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Legato.MiddlewareContracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAcousticClassicalGuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcousticClassicalGuitarDataModel" nillable="true" type="tns:AcousticClassicalGuitarDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcousticClassicalGuitarDataModel" nillable="true" type="tns:ArrayOfAcousticClassicalGuitarDataModel" />
  <xs:complexType name="AcousticClassicalGuitarDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GuitarDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="StringType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcousticClassicalGuitarDataModel" nillable="true" type="tns:AcousticClassicalGuitarDataModel" />
  <xs:complexType name="GuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImgPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensura" type="xs:short" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="tns:VendorDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuitarDataModel" nillable="true" type="tns:GuitarDataModel" />
  <xs:complexType name="VendorDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorDataModel" nillable="true" type="tns:VendorDataModel" />
  <xs:complexType name="AcousticWesternGuitarDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GuitarDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="StringCaliber" type="xs:short" />
          <xs:element minOccurs="0" name="StringNumber" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcousticWesternGuitarDataModel" nillable="true" type="tns:AcousticWesternGuitarDataModel" />
  <xs:complexType name="ElectricGuitarDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GuitarDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasTremoloBar" type="xs:boolean" />
          <xs:element minOccurs="0" name="Soundbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StringCaliber" type="xs:short" />
          <xs:element minOccurs="0" name="StringNumber" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectricGuitarDataModel" nillable="true" type="tns:ElectricGuitarDataModel" />
  <xs:complexType name="BassGuitarDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GuitarDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Soundbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StringNumber" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BassGuitarDataModel" nillable="true" type="tns:BassGuitarDataModel" />
  <xs:complexType name="ArrayOfVendorDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorDataModel" nillable="true" type="tns:VendorDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorDataModel" nillable="true" type="tns:ArrayOfVendorDataModel" />
  <xs:complexType name="ArrayOfAcousticWesternGuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcousticWesternGuitarDataModel" nillable="true" type="tns:AcousticWesternGuitarDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcousticWesternGuitarDataModel" nillable="true" type="tns:ArrayOfAcousticWesternGuitarDataModel" />
  <xs:complexType name="ArrayOfElectricGuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ElectricGuitarDataModel" nillable="true" type="tns:ElectricGuitarDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElectricGuitarDataModel" nillable="true" type="tns:ArrayOfElectricGuitarDataModel" />
  <xs:complexType name="ArrayOfBassGuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BassGuitarDataModel" nillable="true" type="tns:BassGuitarDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBassGuitarDataModel" nillable="true" type="tns:ArrayOfBassGuitarDataModel" />
</xs:schema>