Legato.ServiceDAL/Service References/Middleware/Legato.MiddlewareContracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Legato.MiddlewareContracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Legato.MiddlewareContracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AcousticClassicalGuitarDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GuitarDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="StringType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcousticClassicalGuitarDataModel" nillable="true" type="tns:AcousticClassicalGuitarDataModel" />
  <xs:complexType name="GuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImgPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensura" type="xs:short" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="tns:VendorDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuitarDataModel" nillable="true" type="tns:GuitarDataModel" />
  <xs:complexType name="VendorDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorDataModel" nillable="true" type="tns:VendorDataModel" />
  <xs:complexType name="AcousticWesternGuitarDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GuitarDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="StringCaliber" type="xs:short" />
          <xs:element minOccurs="0" name="StringNumber" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcousticWesternGuitarDataModel" nillable="true" type="tns:AcousticWesternGuitarDataModel" />
  <xs:complexType name="ElectricGuitarDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GuitarDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasTremoloBar" type="xs:boolean" />
          <xs:element minOccurs="0" name="Soundbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StringCaliber" type="xs:short" />
          <xs:element minOccurs="0" name="StringNumber" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectricGuitarDataModel" nillable="true" type="tns:ElectricGuitarDataModel" />
  <xs:complexType name="BassGuitarDataModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GuitarDataModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Soundbox" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StringNumber" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BassGuitarDataModel" nillable="true" type="tns:BassGuitarDataModel" />
  <xs:complexType name="FilterDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceFilter" nillable="true" type="tns:PriceFilterDataModel" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchItems" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="VendorFilter" nillable="true" type="tns:VendorFilterDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterDataModel" nillable="true" type="tns:FilterDataModel" />
  <xs:complexType name="PriceFilterDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceFilterDataModel" nillable="true" type="tns:PriceFilterDataModel" />
  <xs:complexType name="VendorFilterDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Vendors" nillable="true" type="tns:ArrayOfVendorDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorFilterDataModel" nillable="true" type="tns:VendorFilterDataModel" />
  <xs:complexType name="ArrayOfVendorDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorDataModel" nillable="true" type="tns:VendorDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorDataModel" nillable="true" type="tns:ArrayOfVendorDataModel" />
  <xs:complexType name="ArrayOfAcousticClassicalGuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcousticClassicalGuitarDataModel" nillable="true" type="tns:AcousticClassicalGuitarDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcousticClassicalGuitarDataModel" nillable="true" type="tns:ArrayOfAcousticClassicalGuitarDataModel" />
  <xs:complexType name="SortingDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="SortDirection" type="tns:SortDirection" />
      <xs:element minOccurs="0" name="SortHeader" type="tns:SortHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortingDataModel" nillable="true" type="tns:SortingDataModel" />
  <xs:simpleType name="SortDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortDirection" nillable="true" type="tns:SortDirection" />
  <xs:simpleType name="SortHeader">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Price" />
      <xs:enumeration value="Vendor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortHeader" nillable="true" type="tns:SortHeader" />
  <xs:complexType name="ArrayOfAcousticWesternGuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcousticWesternGuitarDataModel" nillable="true" type="tns:AcousticWesternGuitarDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcousticWesternGuitarDataModel" nillable="true" type="tns:ArrayOfAcousticWesternGuitarDataModel" />
  <xs:complexType name="ArrayOfElectricGuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ElectricGuitarDataModel" nillable="true" type="tns:ElectricGuitarDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElectricGuitarDataModel" nillable="true" type="tns:ArrayOfElectricGuitarDataModel" />
  <xs:complexType name="ArrayOfBassGuitarDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BassGuitarDataModel" nillable="true" type="tns:BassGuitarDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBassGuitarDataModel" nillable="true" type="tns:ArrayOfBassGuitarDataModel" />
  <xs:complexType name="ArrayOfUserDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDataModel" nillable="true" type="tns:UserDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDataModel" nillable="true" type="tns:ArrayOfUserDataModel" />
  <xs:complexType name="UserDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EncryptedPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataModel" nillable="true" type="tns:UserDataModel" />
  <xs:complexType name="ClaimsDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddGuitar" type="xs:boolean" />
      <xs:element minOccurs="0" name="BlockUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChangeDisplayAmount" type="xs:boolean" />
      <xs:element minOccurs="0" name="EditGuitar" type="xs:boolean" />
      <xs:element minOccurs="0" name="GetCompromisedAttempts" type="xs:boolean" />
      <xs:element minOccurs="0" name="GetListOfUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoveCompromisedAttempts" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoveGuitar" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimsDataModel" nillable="true" type="tns:ClaimsDataModel" />
  <xs:complexType name="CompromisedAttemptDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttemptId" type="xs:int" />
      <xs:element minOccurs="0" name="CompromisedToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompromisedAttemptDataModel" nillable="true" type="tns:CompromisedAttemptDataModel" />
  <xs:complexType name="ArrayOfCompromisedAttemptDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompromisedAttemptDataModel" nillable="true" type="tns:CompromisedAttemptDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompromisedAttemptDataModel" nillable="true" type="tns:ArrayOfCompromisedAttemptDataModel" />
</xs:schema>